* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.hero {
  background: url(/img/latest-news/news-bg-2.jpg) no-repeat center center/cover;
  width: 100%;
  height: 50vh;
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.hero * {
  z-index: 20;
}

.hero .navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
  text-align: center;
}

.hero .navbar img {
  height: 50px;
}

.hero .navbar ul {
  display: flex;
  gap: 40px;
}

.hero .navbar ul li {
  list-style: none;
}

.hero .navbar ul li a {
  text-decoration: none;
  font-family: "Open Sans";
  font-weight: bold;
  color: white;
  font-size: 16px;
}

.hero .navbar .icon {
  display: flex;
  gap: 30px;
  font-size: 16px;
}

.hero .navbar .icon a {
  color: white;
}

.hero .navbar a:hover {
  color: #F28123;
}

.hero .navbar label {
  color: white;
  margin-right: 40px;
  display: none;
}

#click {
  display: none;
}

.hero .main {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero .main p {
  color: #F28123;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 8px;
  padding-bottom: 22px;
}

.hero .main h1 {
  font-size: 50px;
  margin-bottom: 10px;
  color: white;
}

.cart {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 90px 0px;
  gap: 30px;
}

.cart .items table th {
  background-color: rgb(193, 193, 193);
  padding: 10px 20px;
  font-family: "Open Sans";
  font-weight: 500;
}

.cart .items table td {
  border: 1px solid rgb(193, 193, 193);
  font-family: "Open Sans";
  font-weight: 500;
  padding: 0px 10px;
}

.cart .items table td input {
  width: 80px;
  height: 40px;
  border: 0.1px solid gray;
  border-radius: 2px;
  text-align: center;
}

.cart .items table td a {
  color: black;
}

.cart .cal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.cart .cal table th {
  background-color: rgb(193, 193, 193);
  font-family: "Open Sans";
  font-weight: 500;
}

.cart .cal table .th1 {
  padding: 10px 150px 10px 10px;
}

.cart .cal table .th2 {
  padding: 10px 100px 10px 10px;
}

.cart .cal table td {
  border: 1px solid rgb(193, 193, 193);
  font-family: "Open Sans";
  font-weight: 500;
  padding: 20px 10px;
}

.cart .cal .button {
  margin: 50px 0px;
}

.cart .cal .button .btn {
  color: white;
  background-color: #F28123;
  padding: 12px 20px;
  margin-right: 15px;
  text-decoration: none;
  font-size: 16px;
  border: transparent;
  border-radius: 50px;
}

.cart .cal p {
  font-size: 18px;
  font-family: "Open Sans";
}

.cart .cal .button .btn:hover {
  color: #F28123;
  background-color: black;
}

.cart .cal input {
  padding: 10px 5px;
  font-size: 18px;
  margin: 10px 0px;
}

.cart .cal a {
  text-decoration: none;
  background-color: #051922;
  color: #F28123;
  padding: 15px 20px;
  font-size: 18px;
  margin-top: 20px;
  border-radius: 50px;
}
.cart .cal a:hover {
  background-color: #F28123;
  color: #051922;
}

.customer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #f5f5f5;
  padding: 60px 0px;
}

footer {
  width: 100%;
  background-color: #051922;
}

footer .foot {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 90px 0px;
  gap: 50px;
  color: white;
}

footer .foot .ft {
  max-width: 25%;
}

footer .foot .ft h2 {
  font-size: 28px;
  font-weight: 400;
  padding-bottom: 25px;
}

footer .foot .ft p {
  font-size: 14px;
  font-family: "Open Sans";
  line-height: 1.9;
  font-weight: 400;
  opacity: 0.6;
}

footer .foot .ft3 ul li {
  list-style: none;
  padding: 5px 0px;
}

footer .foot .ft3 ul li::before {
  content: "> ";
  color: #F28123;
  font-size: 15px;
}

footer .foot .ft3 ul li a {
  color: white;
  opacity: 0.6;
  font-weight: 400;
  text-decoration: none;
}

footer .foot .ft3 ul li a:hover {
  color: #F28123;
}

footer .foot .ft4 form {
  margin: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

footer .foot .ft4 form input {
  background-color: #012738;
  border: transparent;
  color: white;
  padding: 15px;
  font-size: 14px;
}

footer .foot .ft4 form a {
  background-color: #012738;
  border: transparent;
  padding: 10px 15px;
  font-size: 18px;
  color: #F28123;
}

footer .foot .ft4 form a:hover {
  background-color: #F28123;
  color: #012738;
}

footer .copyright {
  display: flex;
  padding: 30px 0px;
  align-items: center;
  justify-content: space-around;
}

footer .copyright p {
  color: white;
}

footer .copyright p span {
  color: #F28123;
}

footer .copyright .icons a {
  color: white;
  padding: 0px 3px;
  font-size: 15px;
}

@media screen and (max-width: 768px) {
  .hero .navbar label {
    display: block;
  }
  .hero .navbar ul {
    flex-direction: column;
    position: absolute;
    top: 90px;
    background-color: #051922;
    width: 100%;
    display: none;
    z-index: 21;
  }
  .hero .navbar ul li {
    padding: 10px;
  }
  .hero .navbar ul li a {
    color: white;
  }
  #click:checked ~ .hero .navbar ul {
    display: block;
  }
  .cart {
    flex-direction: column;
    align-items: center;
  }
  .cart .items table {
    font-size: 14px;
  }
  .cart .items table th {
    padding: 5px 8px;
  }
  .cart .items table td {
    padding: 0px 8px;
  }
  .cart .items table td img {
    height: 50px;
    width: 50px;
  }
  .cart .items table td input {
    width: 40px;
  }
  .cart .cal table {
    font-size: 14px;
  }
  .cart .cal table .th1 {
    padding: 10px 100px 10px 10px;
  }
  .cart .cal table .th2 {
    padding: 10px 80px 10px 10px;
  }
  .cart .cal table td {
    padding: 10px 5px;
  }
  footer .copyright {
    flex-direction: column;
    text-align: center;
  }
}/*# sourceMappingURL=cart.css.map */