* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.hero {
  background: url(/img/hero-bg.jpg) no-repeat center center/cover;
  width: 100%;
  height: 100vh;
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.hero * {
  z-index: 20;
}

.hero .navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
  text-align: center;
}

.hero .navbar img {
  height: 50px;
}

.hero .navbar ul {
  display: flex;
  gap: 40px;
}

.hero .navbar ul li {
  list-style: none;
}

.hero .navbar ul li a {
  text-decoration: none;
  font-family: "Open Sans";
  font-weight: bold;
  color: white;
  font-size: 16px;
}

.hero .navbar .icon {
  display: flex;
  gap: 30px;
  font-size: 16px;
}

.hero .navbar .icon a {
  color: white;
}

.hero .navbar a:hover {
  color: #f28123;
}

.hero .navbar label {
  color: white;
  margin-right: 40px;
  display: none;
}

#click {
  display: none;
}

.hero .main {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 85%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero .main p {
  color: #f28123;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 8px;
  padding-bottom: 22px;
}

.hero .main h1 {
  color: white;
  font-size: 60px;
  padding-bottom: 22px;
}

.hero .main .button .btn {
  color: white;
  text-decoration: none;
  font-size: 16px;
  border: transparent;
  border-radius: 50px;
}

.hero .main .button .btn1 {
  background-color: #f28123;
  padding: 12px 20px;
  margin-right: 15px;
}

.hero .main .button .btn2 {
  background-color: transparent;
  border: 2px solid #f28123;
  padding: 10px 20px;
}

.hero .main .button .btn1:hover {
  color: #f28123;
  background-color: black;
}

.hero .main .button .btn2:hover {
  background-color: #f28123;
}

.fruitkha {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #f5f5f5;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding: 80px 0px;
  gap: 40px;
}

.fruitkha .t {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.fruitkha .t .logo {
  border: 2px dashed #f28123;
  border-radius: 50%;
}

.fruitkha .t .logo i {
  color: #f28123;
  padding: 15px;
}

.products {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 150px 0px;
  text-align: center;
}

.products h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.products p {
  color: #555;
  font-size: 15px;
  font-family: "Open Sans";
  line-height: 1.9;
}

.products h1 span {
  color: #f28123;
}

.products .prod {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 60px;
  justify-items: center;
  gap: 60px;
}

.products .prod .fruit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border: transparent;
  border-radius: 8px;
}

.products .prod .fruit:hover {
  box-shadow: none;
}

.products .prod .fruit img {
  width: 300px;
  height: 281px;
  padding: 30px 30px 0px;
}

.products .prod .fruit p {
  padding: 7px 0px;
}

.products .prod .fruit h2 {
  font-size: 30px;
}

.products .prod .fruit .btn {
  margin: 25px 0px 35px 0px;
  background-color: #f28123;
  color: white;
  font-size: 16px;
  padding: 12px 22px;
  border: transparent;
  border-radius: 25px;
  text-decoration: none;
}

.products .prod .fruit .btn:hover {
  color: #f28123;
  background-color: black;
}

.customer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #f5f5f5;
  padding: 60px 0px;
}

footer {
  width: 100%;
  background-color: #051922;
}

footer .foot {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 90px 0px;
  gap: 50px;
  color: white;
}

footer .foot .ft {
  max-width: 25%;
}

footer .foot .ft h2 {
  font-size: 28px;
  font-weight: 400;
  padding-bottom: 25px;
}

footer .foot .ft p {
  font-size: 14px;
  font-family: "Open Sans";
  line-height: 1.9;
  font-weight: 400;
  opacity: 0.6;
}

footer .foot .ft3 ul li {
  list-style: none;
  padding: 5px 0px;
}

footer .foot .ft3 ul li::before {
  content: "> ";
  color: #f28123;
  font-size: 15px;
}

footer .foot .ft3 ul li a {
  color: white;
  opacity: 0.6;
  font-weight: 400;
  text-decoration: none;
}

footer .foot .ft3 ul li a:hover {
  color: #f28123;
}

footer .foot .ft4 form {
  margin: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

footer .foot .ft4 form input {
  background-color: #012738;
  border: transparent;
  color: white;
  padding: 15px;
  font-size: 14px;
}

footer .foot .ft4 form a {
  background-color: #012738;
  border: transparent;
  padding: 10px 15px;
  font-size: 18px;
  color: #f28123;
}

footer .foot .ft4 form a:hover {
  background-color: #f28123;
  color: #012738;
}

footer .copyright {
  display: flex;
  padding: 30px 0px;
  align-items: center;
  justify-content: space-around;
}

footer .copyright p {
  color: white;
}

footer .copyright p span {
  color: #f28123;
}

footer .copyright .icons a {
  color: white;
  padding: 0px 3px;
  font-size: 15px;
}

@media screen and (max-width: 768px) {
  .hero .navbar label {
    display: block;
  }
  .hero .navbar ul {
    flex-direction: column;
    position: absolute;
    top: 90px;
    background-color: #051922;
    width: 100%;
    display: none;
    z-index: 21;
  }
  .hero .navbar ul li {
    padding: 10px;
  }
  .hero .navbar ul li a {
    color: white;
  }
  #click:checked ~ .hero .navbar ul {
    display: block;
  }
  .products .prod {
    grid-template-columns: repeat(2, 1fr);
  }
  .products .prod .fruit.fruit3 {
    grid-column: 1/span 2;
  }
}
@media screen and (max-width: 426px) {
  .fruitkha {
    grid-template-columns: 1fr;
  }
  .products .prod {
    grid-template-columns: 1fr;
  }
  .products .prod .fruit.fruit3 {
    grid-column: 1;
  }
  footer .copyright {
    flex-direction: column;
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */